
.lower-card-icon{
  transition: all 0.3s ease;
  color: #f55355;
}

.lower-card{
  transition: all 0.3s ease;
}

.lower-card:hover{
  color: aliceblue;
  background-color: #f55355;
}
.lower-card:hover .lower-card-icon{
  color: aliceblue;
}

.lower-card:hover .gentle-bounce{
animation: gentleBounce 0.7s ease-in-out infinite alternate;
}

.lower-card:hover .shake {
  animation: shake 0.5s ease-in-out infinite alternate;
}

.lower-card:hover .rotate {
  animation: rotate 2s linear infinite;
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
}

@keyframes gentleBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (max-width: 768px) {
  .lower-card {
    height: 25vh !important;
  }

  .col-12[style*="25vh"],
  .col-6[style*="25vh"],
  .col-lg-4[style*="25vh"] {
    height: auto !important;
  }

  .lower-card-icon,.lower-card-icon-rotate, .lower-card-icon-bounce  {
    font-size: 4rem !important;
  }
} */

